# Eggs
*.egg-info/
*.egg
eggs/
develop-eggs/

# Bytecode compilation
**/__pycache__/
*.py[cod]
*.pyc

# library caches
.mypy_cache
.pytest_cache

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# library scratch
.coverage
zdevelop/tests/_reports/*
coverage.out
zdevelop/scratch/*

# venvs
.venv/
venv/
env/
ENV/

# system files
.DS_Store

# Build Detritus
bin/
vendor/
.vendor/
build/
.build/
zdocs/build
dist/
lib/
gobin/
lib64/
parts/
sdist/
var/
.installed.cfg
.idea/
reports/
*.exe
*.exe~
*.dll
*.so
*.dylib
